<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://mariobot.documents.azure.com:443/" />
        <add key="accountKey" value="fPyLqBTSpxskvuQz4FbhXnOAGjwizfup1jDyePl8s1NMHsaZATTJKUCWoLMrJ4OntcUPD0FhgwTmXdiE6An1fQ==" />
      </appSettings>
</configuration>

<!--mongodb://mariobot:fPyLqBTSpxskvuQz4FbhXnOAGjwizfup1jDyePl8s1NMHsaZATTJKUCWoLMrJ4OntcUPD0FhgwTmXdiE6An1fQ==@mariobot.documents.azure.com:10255/?ssl=true&replicaSet=globaldb-->
