@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://www.youtube.com/watch?v=DWrH7br4DsM&t=18345s" target="_blank">Tutorial Youtube</a>
            <a href="https://www.buymeacoffee.com/frankliucs/e/48432" target="_blank">Creditos para Frank Lui</a>
            <a href="https://www.twitter.com/mariobot" target="_blank">Por @@MaRioBoT</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
