@using System
@implements IDisposable
@inject NavigationManager NavigationManager

@page "/addcontact"

<div>
    <div>
        Nombre: <input @bind="nom">
    </div>
    <div>
        Apellido: <input @bind="ap">
    </div>
    <div>
        Celular: <input @bind="cel">
    </div>
    <div>
        Direccion: <input @bind="dir">
    </div>
    <div>
        <button class="btn btn-primary" @onclick="AddContactMethod" >Add Contacto! </button>
    </div>
    <div>
        <button class="btn btn-primary" @onclick="IrAContactos" >Ir Contactos! </button>
    </div>
</div>

@code{

    public string nom {get;set;}

    public string ap { get; set; }

    public string dir { get; set; }

    public string cel { get; set; }
    
    
    public List<Contacto> Contactos = new List<Contacto>();

    private void AddContactMethod()
    {
        Contacto _contacto = new Contacto{
            Nombre = nom,
            Apellido = ap,
            Celular = cel,
            Direccion = dir
        };

        Contactos.Add(_contacto);

        nom = "";
        ap = "";
        cel = "";
        dir ="";
    }

    private void IrAContactos()
    {
        NavigationManager.NavigateTo("contacts");
    }

    // when the component are initialized
    protected override void OnInitialized() {        

    }

    // when the parameters are set
    protected override void OnParametersSet() { }

    // for check after render a component
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            
        }
    }

    // For free resources
    public void Dispose() {}
}