@page "/compoundinterest"

<h1>Interes compuesto</h1>

<table class="table">
    <tr>
        <th>Initial Principal</th>
        <th></th>
    </tr>
    <tr>
        <th>Years</th>
        <th></th>
    </tr>
    <tr>
        <th>Annual Interest Rate (%)</th>
        <th></th>
    </tr>
    <tr>
        <th>Total:</th>
        <th></th>
    </tr>
</table>

<button class="btn btn-primary">Calculate</button>
