@page "/contacts"

<h2>Lista de Contactos</h2>

<table>
    <tr>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Celular</td>
        <td>Direccion</td>
    </tr>
        <tr>
        <td>@p1.Nombre</td>
        <td>@p1.Apellido</td>
        <td>@p1.Celular</td>
        <td>@p1.Direccion</td>
    </tr>
</table>

@code{
    Contacto p1 = new Contacto(){
        Nombre = "Mario A",
        Apellido = "Botero F",
        Celular = "3004651284",
        Direccion = "Av 33 56 2"
    };    
}
