@page "/counter"

<h1>Contador</h1>

<p>Cuenta actual: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Cuenta me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
