@page "/starship"

<h1>Validation Form</h1>
<EditForm Model="@starship" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
    <label for="identifier">Identifier: </label>
    <InputText id="identifier" @bind-Value="starship.Identifier" />
    <ValidationMessage For="() => starship.Identifier" />
    </p>
    <p>
    <label for="description">Description (optional): </label>
    <InputTextArea id="description" @bind-Value="starship.Description" />
    </p>
    <p>
    <label for="classification">Primary Classification: </label>
    <InputSelect id="classification" @bind-Value="starship.Classification">
    <option value="">Select classification ...</option>
    <option value="Exploration">Exploration</option>
    <option value="Diplomacy">Diplomacy</option>
    <option value="Defense">Defense</option>
    </InputSelect>
    <ValidationMessage For="() => starship.Classification" />
    </p>
    <p>
    <label for="accommodation">Maximum Accommodation: </label>
    <InputNumber id="accommodation" @bind-Value="starship.MaximumAccommodation" />
    <ValidationMessage For="() => starship.MaximumAccommodation" />
    </p>
    <p>
    <label for="valid">Engineering Approval: </label>
    <InputCheckbox id="valid" @bind-Value="starship.IsValidatedDesign" />
    <ValidationMessage For="() => starship.IsValidatedDesign" />
    </p>
    <p>
    <label for="productionDate">Production Date: </label>
    <InputDate id="productionDate" @bind-Value="starship.ProductionDate" />
    <ValidationMessage For="() => starship.ProductionDate" />
    </p>
    <button type="submit">Submit</button>
</EditForm>
@code {
    private Starship starship = new Starship();
    private void HandleValidSubmit()
    {
        // Save the data
    }
}