@page "/password"

Password: <input value="@Password" @oninput="OnPasswordChanged" type="@(showPassword ? "text" : "password")" />
<label><input type="checkbox" @bind="showPassword" />Show password</label>
@code {
    private bool showPassword;
    [Parameter]
    public string Password { get; set; }
    [Parameter]
    public EventCallback<string> PasswordChanged { get; set; }
    private Task OnPasswordChanged(ChangeEventArgs e)
    {
        Password = e.Value.ToString();
        return PasswordChanged.InvokeAsync(Password);
    }

    public IEnumerable<string> messages {get; set;}
    
    // when the component are initialized
    protected override void OnInitialized() 
    {        
        List<string> m = new List<string>();
        m.Add("FERNANDO");
        m.Add("CAROLINA");
        m.Add("BORRERO");

        messages = m;
    }    
}

<ChildComponent>
<p>este es un componente hijo @DateTime.Now</p>
</ChildComponent>

<SimpleListView Items="messages" TItem="string">
    <Heading>
    <h1>Mi lista</h1>
    </Heading>
    <ItemTemplate Context="message">
        <p>The message is: @message</p>
    </ItemTemplate>
</SimpleListView>