---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
    <p>The SpaceX lanches project is a demo for the Astro course</p>
</Layout>