<h1>DragonBall Page</h1>

<section>
    <div class="col-12 col-sm-6">
        <h3>Agregar</h3>
        <input type="text" class="form-control" placeholder="Nombre">
        <input type="number" class="form-control mt-2" placeholder="Poder">
        <button class="btn btn-primary mt-2">Agregar</button>
    </div>
    <div class="col-12 col-sm-6">
        <h3>Listado</h3>
        <ol>
            <li>Goku</li>
            <li>Goku</li>
            <li>Goku</li>
            <li>Goku</li>
        </ol>
    </div>
</section>