@page "/videogames"
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h3>Video Games</h3>

<button class="btn btn-primary" @onclick="AddVideoGame">Add Video Game</button>
<br />

@if (games is null)
{
    <span>Loading Video Games..</span>
}
else
{
    <QuickGrid Items="games.AsQueryable()">
        <PropertyColumn Property="g => g.Title"></PropertyColumn>
        <PropertyColumn Property="g => g.Publisher"></PropertyColumn>
        <PropertyColumn Property="g => g.ReleaseYear"></PropertyColumn>
        <TemplateColumn>
            <button class="btn btn-primary" @onclick="() => EditVideoGame(context.Id)">Edit</button>
        </TemplateColumn>
    </QuickGrid>
}

@code {
    List<VideoGame>? games = new List<VideoGame>();

    protected override async Task OnInitializedAsync()
    {
        var result = await httpClient.GetFromJsonAsync<List<VideoGame>>("api/videogame");

        if (result != null)
            games = result;
    }

    public void AddVideoGame()
    {
        navigationManager.NavigateTo("/videogame");
    }

    void EditVideoGame(int id)
    {
        navigationManager.NavigateTo($"/videogame/{id}");    
    }
}
