.ps-title-bar {
    background-color: white;
    padding: 0 20px;
    border-bottom: 2px solid black;
}

.ps-logo-area {
    text-align: center;
}

.ps-title-area {
    display: inline-block;
}

.ps-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    border: 1px solid #999;
}

.ps-logo-title {
    color: #111;
    margin-top: 6px;
    font-size: 22px;
}

.ps-logo-subtitle {
    font-size: 13px;
    margin-top: -13px;
}

.ps-right-side-controls {
    line-height: 60px;
    text-align: center;
}

.ps-right-side-controls>div {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .ps-right-side-controls>div {
        text-align: right;
    }

    .ps-logo-area {
        text-align: left;
    }
}