<style>
    nav {
        display: flex;
        gap: 1rem;
        background-color: #1976d2;
        padding: 10px;
        justify-content: space-around;
    }

    nav a {
        color: white;
        text-decoration: none;
    }

    nav a.active {
        font-weight: bold;
        text-decoration: underline;
    }
</style>

<nav>
    <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Counter</a>
    <a routerLink="/hero" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Hero</a>
</nav>