@page "/"

<h2>Hello, this is a tutorial for:</h2>
<h3>Build an e-Commerce Web App with Clean Architecture | New Blazor Course</h3>
<a href="https://www.youtube.com/watch?v=C8xIE_3I7JQ">TUTORIAL VIDEO</a>