@page "/"

@attribute [RenderModeInteractiveServer(false)]

<PageTitle>FluientUiBlazor</PageTitle>

<h1>FluentUi, on Blazor!</h1>

<h2>This project hold a practical examples to use FluentUi components by Microsoft.</h2>

<h2>The project was enable to execute on .Net 8 platform and use the last library provides by the project.</h2>

<h2>In this moment I'm doing a test to the major components to use this library in production and apply good practices.'</h2>

<FluentStack>
    <FluentCard Width="300px" Height="100px">
        <h4>
            The original GitHub project cand find in this link
        </h4>
    </FluentCard>
    <FluentCard Width="300px" Height="100px">
        <h4>The original example project cand find in this link</h4>
    </FluentCard>
</FluentStack>