@page "/progressring"

@attribute [RenderModeInteractiveServer(false)]

<h3>ProgressRing Default</h3>

<div style="width: 300px;display: grid; grid-gap: 12px; grid-auto-flow: column;">
    <FluentProgressRing Min="0" Max="100" Value="75"></FluentProgressRing>
    <FluentProgressRing></FluentProgressRing>
</div>

<br />

<h3>Paused</h3>
<FluentStack>
    <FluentProgressRing Paused="true" Min="0" Max="100" Value="75"></FluentProgressRing>
    <FluentProgressRing Paused="true"></FluentProgressRing>
</FluentStack>

<br />

<h3>Custom Sizes</h3>
<FluentStack>
    <FluentProgressRing Min="0" Max="100" Value="20"></FluentProgressRing>
    <FluentProgressRing Min="0" Max="100" Value="40" style="width: 42px; height: 42px;"></FluentProgressRing>
    <FluentProgressRing Min="0" Max="100" Value="60" style="width: 62px; height: 62px;"></FluentProgressRing>
    <FluentProgressRing Min="0" Max="100" Value="80" style="width: 82px; height: 82px;"></FluentProgressRing>
    <FluentProgressRing Min="0" Max="100" Value="100" style="width: 102px; height: 102px;"></FluentProgressRing>
</FluentStack>
<FluentStack>
    <FluentProgressRing></FluentProgressRing>
    <FluentProgressRing style="width: 42px; height: 42px;"></FluentProgressRing>
    <FluentProgressRing style="width: 62px; height: 62px;"></FluentProgressRing>
    <FluentProgressRing style="width: 82px; height: 82px;"></FluentProgressRing>
    <FluentProgressRing style="width: 102px; height: 102px;"></FluentProgressRing>
</FluentStack>


@code {

}
