@page "/cashier_console"

<h3>Consola de Venta</h3>
<div class="form-group">
    <label for="cashier">Nombre del Cajero:</label>
    <input type="text" id="cashier" class="form-control" @bind-value="cashierName" />
</div>

<br />
<div class="row">
    <div class="col-4">
        <SelectProductForSellingComponent OnProductSelected="SelectProduct"></SelectProductForSellingComponent>
        <hr />
        <SellProductComponent CashierName="@cashierName"
                              SelectedProduct="selectedProduct" 
                              OnProductSold="SellProduct"></SellProductComponent>
    </div>
    <div class="col">
        <TodayTransactionComponent @ref="transactionComponent"></TodayTransactionComponent>
    </div>
</div>

@code {

    private TodayTransactionComponent transactionComponent;
    private Product selectedProduct;
    private string cashierName;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        cashierName = "";
    }

    private void SelectProduct(Product product)
    {
        selectedProduct = product;
    }

    private void SellProduct(Product product)
    {
        transactionComponent.LoadTransactions(cashierName);
    }
}
