@page "/categories"
@inject NavigationManager NavigationManager
@inject UseCases.IViewCategoriesUseCase ViewCategoryUseCase

<h3>Administrar Categorias</h3>

@if (categories.Any())
{
    <table class="table">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>Editar</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td><button type="button" @onclick="@(() => OnEditCategory(category.CategoryId))" class="btn btn-primary">Editar</button></td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<button type="button" @onclick="OnClickAddCategory" class="btn btn-primary">Adicionar Categoria</button>


@code {

    private List<Category> categories;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        categories = ViewCategoryUseCase.Execute().ToList();
    }

    private void OnClickAddCategory()
    {
        NavigationManager.NavigateTo("/addcategory");
    }

    private void OnEditCategory(int CategoryId)
    {
        NavigationManager.NavigateTo($"/editcategory/{CategoryId}");
    }
}
