@page "/products"
@inject NavigationManager NavigationManager
@inject IViewProductsUseCase ViewProductsUseCase
@inject IGetCategoryByIdUseCase GetCategoryByIdUseCase

<h3>Productos</h3>

@if (products != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@GetCategoryByIdUseCase.Execute(product.CategoryId)?.Name</td>
                    <td>@product.Name</td>
                    <td>@string.Format("{0:C0}", product.Price)</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}
<button type="button" @onclick="OnClickAddProduct" class="btn btn-primary">Adicionar Producto</button>

@code {
    private IEnumerable<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        products = ViewProductsUseCase.Execute();
    }

    protected void OnClickAddProduct()
    {
        NavigationManager.NavigateTo("/addproduct");
    }
}
