@{
    ViewData["Title"] = "Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This tutorial was maked by Mario Botero.</p>
<p>For more information you can visit <a href="http://mariobot.wordpress.com">mariobot wordpress</a></p>
