@page "/"

<SfCard>
    <CardHeader Title="Welcome to Blazing CRM!"></CardHeader>
    <CardContent EnableSeparator="true">
        <p>In this project you could do a few things.</p>
        <p>Create or edit a contact.</p>
        <p>Add some notes to the contact.</p>
        <p>Navigate in the map with contact location.</p>
        <hr />
        <p>Original tutorial was created by <a href="https://www.youtube.com/@@PatrickGod" target="_blank">Patrick God</a> and you cand find in the next <a href="https://www.youtube.com/watch?v=M54UdG45dwM" target="_blank">link</a></p>
        <p>This project was developed by <a href="https://www.github.com/mariobot" target="_blank">MaRioBoT</a></p>
    </CardContent>
</SfCard>