@page
@model IndexModel
@{
    ViewData["Title"] = "Hydro";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Hydro</h1>
    <p>Create .NET apps with SPA feeling without JS <a href="https://usehydro.dev/">usehydro.dev/</a>.</p>
</div>

<div class="text-primary">
    <hydro name="Counter" />
</div>
