@page
@model IndexModel
@{
    ViewData["Title"] = "Hydro";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Hydro</h1>
    <p>Create .NET apps with SPA feeling without JS <a href="https://usehydro.dev/">usehydro.dev/</a>.</p>
</div>

<div class="text-primary">
    <h5>Simple counter component</h5>
    <hydro name="Counter" />
</div>
<hr />

<div class="text-primary">
    <h5>Simple counter component with parameter</h5>
    <hydro name="Counter" params="@(new {Count = 10})" />
</div>
<hr />

<div class="text-primary">
    <h5>Bind property</h5>
    <hydro name="NameForm" />
</div>
<hr />

<div class="text-primary">
    <h5>File Upload component</h5>
    <hydro name="AddAttachment" />
</div>
<hr />

<div class="text-primary">
    <div class="row">
        <div class="col-6">
            <h5>Count with events</h5>
            <hydro name="CounterEvent" />
        </div>
        <div class="col-6">
            <h5>Component subscriber</h5>
            <hydro name="Summary" />
        </div>
    </div>
</div>
<hr />

<div class="text-primary">
    <h5>Navigation Links</h5>
    <hydro name="Links"></hydro>
</div>
<hr />