@page "/"
@inject MediatR.IMediator _mediator

<h1>List of Persons!</h1>

<ul>
    @foreach (var p in people)
    {
        <li>@p.FirstName - @p.LastName </li>
    }
</ul>

@code{  
    List<PersonModel> people;

    protected override async Task OnInitializedAsync()
    {
        // get list of people
        people = await _mediator.Send(new GetPersonListQuery());
    }
}
