<section class="mt-5">
    <table class="table table-zebra w-full">
        <thead>
            <tr>
                <th>#</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Poblacion</th>
                <th>Region</th>
                <th>Capital</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (country of countries(); track country.cioc) {
            <tr>
                <td>{{ country.cioc }}</td>
                <td>{{ country.cioc }}</td>
                <td><img [src]="country.flags.png" [alt]="country.name" class="w-16 h-16 object-cover"></td>
                <td class="badge badge-secondary align-right">{{ country.population | number}}</td>
                <td>{{ country.region }}</td>
                <td>{{ country.capital }}</td>
                <td><a [routerLink]="['/country/by', country.cioc]">Mas informacion</a></td>
            </tr>
            }
        </tbody>
    </table>
</section>