<!DOCTYPE html>
<html ng-app="MyFirstApp">
<script src="node_modules/angular/angular.js"></script>
<script src="controller.js"></script>

<body ng-controller="FirstController">
    <input type="text" ng-model="nuevoComentario.comentario">
    <br>
    <input type="text" ng-model="nuevoComentario.username">
    <br>
    <button ng-click="agregarComentario()">Agregar Comentario</button>
    <h3>Comentarios</h3>
    <ul>
        <li ng-repeat="comentario in comentarios">
            {{comentario.comentario}} - <strong>{{comentario.username}}</strong>
        </li>
    </ul>
</body>

</html>