@page "/editgame"
@page "/editgame/{id:int}"
@inject IGameService gameService
<h3>EditGame</h3>

<EditForm Model="game" OnSubmit="HandleSubmit" FormName="editGame">
    <label>Name</label>
    <InputText @bind-Value="game.Name">@game.Name</InputText>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

    @code {

    [Parameter]
    public int? Id { get; set; }

    [SupplyParameterFromForm]
    Game game { get; set; } = new Game { Name = string.Empty };

    async Task HandleSubmit()
    {
        await gameService.AddGame(game);
    }
}
