@page "/games"

@inject IGameService GameService
@inject NavigationManager navigationManager
@attribute [StreamRendering(true)]
@attribute [RenderModeInteractiveServer(false)]

<h3>GameList</h3>

@if (games == null)
{
    <span>Loading...</span>
}
else if (games.Count == 0)
{
    <span>No games found..</span>
}
else
{
    <ul>
        @foreach(var game in games)
        {
            <li>@game.Name <EditGameButton Id="@game.Id"></EditGameButton></li>
        }
    </ul>    
}
<button @onclick="CreateGame" class="btn btn-primary">Create Game</button>

@code {
    List<Game>? games = null;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);

        games = await GameService.GetAllGames();
    }

    void CreateGame()
    {
        navigationManager.NavigateTo("/editgame");
    }
}
