@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
    <a class="text">Developed by @creado</a>
    <a class="text">@Fecha</a>
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">blazor.net</a>
    </div>
    <div class="content px-4">
        @Body
    </div>    
</div>

@code{
    public string creado { get; set; } = "Mario Botero";
    public DateTime Fecha { get; set; } = DateTime.Now;
}
