@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">blazor.net</a>
        <a class="ml-md-auto">Developed by @creado</a>
        <a class="ml-md-auto">@Fecha.Year</a>
    </div>
    <div class="content px-4">
        @Body
    </div>    
</div>

@code{
    public string creado { get; set; } = "Mario Botero";
    public DateTime Fecha { get; set; } = DateTime.Now;
}
