<div class="alert alert-secondary mt-4" role="alert">    
    <strong>@Title</strong>    
    <span class="text-nowrap">
        Por favor toma <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2127996">una pequeña encuesta</a> y dinos que piensas.
    </span>    
</div>

<span>
    <h4><a href="@twitter" target="_blank">@Autor</a></h4>
</span>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }

    public string Autor {get; set;}

    public string twitter {get;set; }    

    public SurveyPrompt(){
        Autor = "Mario Botero Florez";
        twitter = "https://www.twitter.com/mariobot";
    }
}
