<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>
    <span>
        <h4><a href="@twitter" target="_blank">@Autor</a></h4>
    </span>

    <span class="text-nowrap">
        Por favor toma 
        <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2127996">una pequeña encuesta</a>
    </span>
    y dinos que piensas.
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }

    public string Autor {get; set;}

    public string twitter {get;set; }    

    public SurveyPrompt(){
        Autor = "Mario Botero Florez";
        twitter = "https://www.twitter.com/mariobot";
    }
}
