@page "/"

<PageTitle>Video Games</PageTitle>

<h1>Video Games with Blazor SSR</h1>
<br />

<h3>Hello this an example with blazor SSR, crud examples!</h3>

<br />
<br />

<div class="card" style="width: 600px">
    <div class="card-header">You can check</div>
    <div class="card-body">
        <div class="card-text">
            <p>
                Original tutorial can find in this <a target="_blank" href="https://www.youtube.com/watch?v=EqSgqm4qWjo">YouTube Video</a> by Patrick God
            </p>
        </div>
    </div>
    <div class="card-footer">
        by MaRioBot
    </div>
</div>

