@using MultiTenancyByEnterprise.Entities
@model CreateEnterprise

<h1>Create Enterprise</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn-primary btn">Create</button>
        <a class="btn btn-secondary" asp-action="Index" asp-controller="Home">Cancel</a>
    </div>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
