<h1>{{ name() }}</h1>

<dl>
    <td>Nombre:</td>
    <dd>{{ name() }}</dd>

    <td>Edad:</td>
    <dd>{{ age() }}</dd>

    <td>Método:</td>
    <dd>{{ heroDescription() }}</dd>

    <td>Capitalizado:</td>
    <!-- ! Intentar  -->
    <dd> {{ capitalizedName() }} </dd>
    <dd> {{ name() | uppercase }} </dd>
</dl>

<button (click)="changeHero()" class="btn btn-primary mx-2">
    Cambiar nombre
</button>

<button (click)="changeAge()" class="btn btn-primary">Cambiar edad</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>