@using MultiTenancyByEnterprise.Entities
@model AdminPermissionDto

<h1>Administrate permissions from @Model.Email</h1>

<form asp-action="Admin">
    <input type="hidden" asp-for="UserId"  />
    <input type="hidden" asp-for="Email" />

    <button type="submit" class="btn btn-primary">Save Changes</button>
    @* <button type="button" class="btn btn-secondary">Sellect All</button>
    <button type="submit" class="btn btn-secondary">Un Sellect All</button> *@

    <ul>
        @for (int i = 0; i < Model.Roles.Count; i++)
        {
            <li>
                @Html.CheckBoxFor(model => Model.Roles[i].HaveAccess)
                @Html.HiddenFor(model => Model.Roles[i].Rol)
                <span>@Model.Roles[i].Description</span>
            </li>
        }
    </ul>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
