@inherits LayoutComponentBase

<FluentLayout Style="margin:0px">
    <FluentHeader>
        Fluent UI Blazor .Net 8
    </FluentHeader>

    <FluentStack Orientation="Orientation.Horizontal">
        
        <NavMenu />        

        <FluentBodyContent> 
            <FluentMessageBarProvider @rendermode="RenderMode.InteractiveServer" Section="MESSAGES_TOP" />
            @Body
        </FluentBodyContent>

        <FluentDialogProvider @rendermode="RenderMode.InteractiveServer"  ></FluentDialogProvider>

    </FluentStack>


    <FluentFooter Style="position: fixed;left: 0; bottom: 0; width: 100%; text-align: center;">
        <FluentGrid>
            <FluentGridItem xs="4">
                <FluentAnchor Appearance="Appearance.Lightweight" Href="http://www.github.com/mariobot" Target="_blank">@@MaRioBoT</FluentAnchor>
            </FluentGridItem>
            <FluentGridItem xs="4">
                <FluentAnchor Appearance="Appearance.Lightweight" Href="https://www.fluentui-blazor.net" Target="_blank">www.fluentui-blazor.net Documentation</FluentAnchor>
            </FluentGridItem>
            <FluentGridItem xs="4">
                <FluentAnchor Appearance="Appearance.Lightweight" Href="https://github.com/microsoft/fluentui-blazor#microsoft-fluent-ui-blazor-components" Target="_blank">Install FluentUi Guide</FluentAnchor>
            </FluentGridItem>
        </FluentGrid>
    </FluentFooter>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

</FluentLayout>