@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        Fluent UI Blazor .Net 8
    </FluentHeader>

    <FluentStack Orientation="Orientation.Horizontal">

        <NavMenu />

        <FluentBodyContent>
            @Body
        </FluentBodyContent>

    </FluentStack>

    <FluentFooter>
        <FluentAnchor Href="http://www.github.com/mariobot">@@MaRioBoT</FluentAnchor>
    </FluentFooter>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

</FluentLayout>